Напишите template строки, который можно будет многократно переиспользовать,вставляя в него имя и фамилию человека. Используйте метод строки "format".

In [ ]:
print(f'{input()} {input()}')

Напишите функцию, которая будет преобразовывать цену к формату, отображающему до двух знаков после точки, например:
22.32131 -> 22.32

58.60125 -> 58.6

34.0 -> 34

In [ ]:
def convert(p):
  p = float(p)
  if p == int(p):
    return int(p)
  return int(p * 100) / 100 

print(convert(22.32631))
print(convert(34.0 ))

22.32
34

Дан список из строк. Создайте однострочное решение (при помощи list comprehension), которое приведёт к верхнему регистру все строки, содержащие слово 'price')

In [ ]:
l = ['price111', 'aaa', 'bbb', 'price', 'good price', 'ccc']
new_l = [s.upper() if 'price' in s else s for s in l]
print(new_l)

['PRICE111', 'aaa', 'bbb', 'PRICE', 'GOOD PRICE', 'ccc']

Напишите функцию, которая принимает список, и число. Функция должна разбить список на N кусков, переданных в функцию в качестве втрого аргумента. Выполнить проверки по здравому смыслу (например, нет смысла пытаться разбить список из 3 элементов на 4 элемента)

In [ ]:
def partition(l, n):
  p = len(l)//n
  if not len(l)%n:
    return [l[i:i+p] for i in range(0, len(l), p)]
  p = len(l)//(n-1)
  r = len(l)%p
  if not r and (p!=1):
    return [l[i:i+p] for i in range(0, p*(n-2), p)] + [l[i:i+(p-1)] for i in range(p*(n-2), len(l), p-1)]
  return [l[i:i+p] for i in range(0, p*(n-1), p)] + [l[p*(n-1):]]

print(partition(['price111', 'aaa', 'bbb', 'price', 'good price', 'ccc', 'ggg', 'nnn'], 6))
print(partition(['price111', 'aaa', 'bbb', 'price', 'good price', 'ccc', 'ggg', 'nnn'], 4))

[['price111'], ['aaa'], ['bbb'], ['price'], ['good price'], ['ccc', 'ggg', 'nnn']]
[['price111', 'aaa'], ['bbb', 'price'], ['good price', 'ccc'], ['ggg', 'nnn']]

Дана строка из имён, в формате "Денис, Олег, Вася, Петя,Дима,Женя". Разбейте строку так, чтобы получился список имён. Заметьте: после запятой не всегда есть пробел (он не должен входить в имена, которые попадут в список)

In [ ]:
import re
l = "Денис, Олег, Вася, Петя,Дима,Женя"
names = re.split(' *[,] *', l)
print(names)

['Денис', 'Олег', 'Вася', 'Петя', 'Дима', 'Женя']

Дан список из строк. Используя join, соедините строки так, чтобы они были разделены через запятую. На выходе должна получиться строка в виде "my_string1,my_string2,my_string3"

In [ ]:
print(','.join(['my_string1', 'my_string2', 'my_string3']))

my_string1,my_string2,my_string3

Есть список из случайных чисел и строк. Создайте цикл, итерирующийся до тех пор, пока не встретится число "777". Если в течении 100 попыток число не будет найдено — остановить цикл и вызвать ошибку с соответсвующим сообщением.

In [ ]:
from binascii import Error
import random

a = '''This module implements pseudo-random number generators for various distributions.
For integers, there is uniform selection from a range. 
For sequences, there is uniform selection of a random element, 
a function to generate a random permutation of a list in-place, and a function for random sampling without replacement.
On the real line, there are functions to compute uniform, 
normal (Gaussian), lognormal, negative exponential,gamma, and beta distributions. 
For generating distributions of angles, the von Mises distribution is available.'''.split()
l = [random.randint(500, 1000) for i in range(700)] + [random.choice(a) for i in range(100)]
random.shuffle(l)

n = 0
flag = True
while True:
  if l[n] in (777, '777'):
    print('found 777')
    break
  if n == 99:
    flag = False
    break
  n += 1

if not flag:
  raise Error('No 777 found')

Error: ignored

Создать функцию, которая принимает на вход два списка: первый — список, который нужно очистить от определённых значений, второй — список тех значений, от которых нужно очистить. Например, list1 = [1, 2, 3, 4, 5], list2 = [1, 3, 4], функция должна вернуть [2, 5]

In [ ]:
def cleanser(l1:list, l2:list):
  return list(set(l1).difference(set(l2)))

print(cleanser([1, 2, 3, 4, 5], [1, 3, 4]))

[2, 5]